/* html {
  background: url(imgs/RemnantBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

h1 {
  font-size: 50px;
  line-height: 1;
  text-align: center;
  margin: 2rem 0;
}

h2 {
  font-size: 22px;
  margin: 0;
}

th,
td {
  color: white;
}

a {
  color: #58a6ff;
}

a:link {
  /* color: #58a6ff; */
  text-decoration: none;
}

a:hover {
  color: #58a6ff;
  text-decoration: underline;
}

a:active {
  color: blue;
}

.narrow {
  margin: 0 auto;
  max-width: 50%;
}

table {
  margin: 0 auto;
  max-width: 55%;
}

.hyperlink {
  color: #58a6ff;
}

#world-input {
  margin: 0 auto;
}

#loading {
  display: none;
}

#connection-error {
  display: none;
  font-size: 25px;
  text-align: center;
  color: #dc3545;
}

#world-descriptor {
  display: none;
}
