body {
  /* background: url(imgs/RemnantBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

h1 {
  font-size: 50px;
  line-height: 1;
  text-align: center;
  margin: 2rem 0;
}

th,
td {
  color: white;
}

.narrow {
  margin: 0 auto;
  max-width: 50%;
}

.issues > p {
  margin: 0;
}

#worldDescriptor {
  display: none;
}
